[2021-08-15 01:28] d-callan opened #5 "Backend: categorical integers being displayed as numbers with a decimal point (ie, '1.0' instead of '1')"
Backend: Subsetting service sometimes returns different values in the tabular endpoint from what it claims in the variables vocabulary

this may be specific to categorical numbers. idk. the case i have evidence for is Score S. mansoni participant term 'Study timepoint'

if i hit `studies/SCORECX01-1` i can see this term claims to have a vocabulary of '1', '2', '3', '4', '5'
if i hit `studies/SCORE

[2021-08-31 15:44] nkittur-uga opened #2 "Bug: Variables that should be compatible are unavailable in certain plots"
A couple of examples from GEMS1 Case control

Histogram: _Age_ is a continuous var and should be compatible with this plot, but is greyed out.

Scatter plot: _Weight_ is greyed out.

[2021-08-31 20:14] SheenaTomko opened #1 "Display of variables with both numeric and character data is not correct"
Example: India ICEMR Behavior Cross-sectional study has variables like ITN bednet count that have numeric values plus a value of "Don't know". Since there were so few values that the variable would display as categorical anyway, we opted to leave in the "Don't know" value. However, on the qa site, most of the data is disappearing, leaving only the "Don't know" value. First screenshot below shows t

[2021-09-07 14:46] nkittur-uga opened #3 "Bug in scatter plot"
GEMS1- Height vs. Weight scatter plot (using the full dataset -no filters) threw up an error:

<img width="1274" alt="Screen Shot 2021-09-07 at 9 56 54 AM" src="https://user-images.githubusercontent.com/67710160/132364758-c02261d4-7fd9-46fe-84f2-8d187d92ffb0.png">

[2021-09-07 19:14] d-callan commented on #3
i think in this case the interesting error/ log was from the subset service:
`Caused by: java.lang.RuntimeException: Variable found to incorrectly have multiple values: IAO_0000414`

[2021-09-07 19:15] d-callan commented on #3
so i guess this is either a data load problem, or not a problem at all really?

[2021-09-07 19:16] nkittur-uga commented on #3
Oh, I see, it is still that multi-value issue that was identified last week. This will likely get fixed in the next data load. I'll QA and update here when this study is reloaded.

[2021-09-07 19:16] SheenaTomko opened #19 "Collapse entity diagram in 1:1 relationships"
When data is loaded as 1:1 (like Community:Household, Household:Participant, Participant repeated measure:Sample, etc.), we want the entity diagram to collapse and variables to be considered within the same entity in the visualization tab and even the downloads, if possible.

Instead of always using the parent entity or the child entity as the one shown and labeled, may want to collapse in from th

[2021-09-07 19:19] d-callan commented on #3
whats interesting is that it wasnt constrained against? i wonder if @dmfalke  has insight there.

[2021-09-07 19:20] dmfalke commented on #3
The client is disallowing all multi valued variables for visualizations. I believe this is what we had agreed on.

[2021-09-07 19:22] dmfalke commented on #3
Oh, sorry, I misread @d-callan's comment. I take it the variables has `isMultiValued = false`, but the runtime found multiple values?

[2021-09-07 19:41] d-callan commented on #3
hmm youre right. it does claim  `isMultiValued = false`.  is this another data load bug after all then? bc i thought that was inferred? @jaycolin may know..

[2021-09-08 16:32] jaycolin opened #4 "EDA service error for study India ICEMR Severe P. vivax and falciparum Cohort"
https://qa.restricted.clinepidb.org/ce.restricted.qa/app/workspace/analyses/DS_3b4a4e8f09/new
Error: 500 Internal Server Error
{"status":"server-error","message":"Unable to complete request","requestId":"21MOx9OdNiIk3pfF2ph22D"}
fir: /var/log/containers/docker.eda_qa_data_1.log
Unable to process result of SQL
`SELECT distinct stable_id, data_type, data_shape, display_type, has_values, unit, is_mul

[2021-09-08 18:15] SheenaTomko commented on #2
Closing this issue since it's a duplicate of https://github.com/VEuPathDB/EdaLoadingIssues/issues/3 and that issue is more up-to-date

[2021-09-08 18:15] #2 closed

[2021-09-08 18:35] aurreco-uga commented on #4
the SQL works fine, i think more relevant message in the logs is:

Caused by: java.lang.IllegalArgumentException: No enum constant org.veupathdb.service.eda.generated.model.BinUnits.2017-06-13
	at java.lang.Enum.valueOf(Enum.java:273) ~[?:?]
	at org.veupathdb.service.eda.generated.model.BinUnits.valueOf(BinUnits.java:5) ~[service.jar:1.0.0]
	at org.veupathdb.service.eda.ss.model.DateVariable.<init

[2021-09-09 13:55] jaycolin commented on #1
This issue has been resolved; if found in other studies, it will be resolved as they are being reloaded.

[2021-09-09 13:55] #1 closed

[2021-09-13 01:48] steve-fischer-200 commented on #4
there is the url for the qa site:  https://qa.clinepidb.org/ce.b19/app/workspace/analyses/DS_3b4a4e8f09/new

[2021-09-13 18:01] aaronwlsong opened #7 "India Behavior CX: some variables appear to be erroneously multi-valued"
In visualization section, for example, in India behavior cross sectional study, for scatter plot, when x="Health facility distance", y="sample collection date" / " Time since last malaria diagnosis", it has error message even though they are both compatible variables.

![image](https://user-images.githubusercontent.com/61077845/133133564-28d8eedb-15f1-4337-8ec4-08a1b8ac931b.png)
![image](https://u

[2021-09-14 14:11] jaycolin commented on #3
Resolved by eliminating multiple values in
https://redmine.apidb.org/issues/44112

[2021-09-14 14:11] #3 closed

[2021-09-14 20:13] jaycolin commented on #4
Two studies are now affected and Outreach needs to QA them for release. Can we get this fixed today?

Affected:
`DS_22e3c3c070	ISASimple_General_Crompton_cohort_RSRC	Kalifabougou Malaria Cohort	Kalifabougou Malaria Cohort
DS_3b4a4e8f09	ISASimple_ICEMR_India_severemalaria_RSRC	India ICEMR Severe <i>P. vivax</i> and <i>falciparum</i> Cohort	India ICEMR Severe P. vivax and falciparum Cohort`

[2021-09-15 18:54] jaycolin commented on #4
This is caused by computed bin width = 2017-06-13 which happens when a date variable has only one value. I will fix this in loading plugins.

[2021-09-15 20:34] danicahelb commented on #5
@steve-fischer-200 what is the status of this? we'd love to get this solved this week

[2021-09-15 21:08] #4 closed, assigned to SheenaTomko

[2021-09-16 14:00] danicahelb commented on #5
Steve upgraded the subsetting service to handle a new Integer datatype.  issue has been moved to the EdaLoadingIssues repo, which is issues for jay/john to deal with

[2021-09-16 15:36] jaycolin commented on #5
Fixed in ApiCommonData/Load/plugin/perl/LoadAttributesFromEntityGraph.pm commit c6710b9b5be27f993b9456fbcf393518bad0818c

[2021-09-16 15:36] #5 closed

[2021-09-17 19:03] SheenaTomko commented on #4
This study is now accessible

[2021-09-17 19:30] SheenaTomko commented on #3
Looks good

[2021-09-17 20:15] SheenaTomko opened #6 "Implement alphanumeric ordering for values"
Example: India ICEMR cross-sectional study. First screenshot shows the qa site, second shows what it should be, which is on the live site. I think Dave mentioned needing to implement an alphanumeric package to achieve this

<img width="363" alt="Screen Shot 2021-09-17 at 3 12 13 PM" src="https://user-images.githubusercontent.com/54597319/133848028-b39c515e-de89-4220-8153-96d7d893885d.png">
<img wi

[2021-09-21 09:32] SAK22 commented on #5
Still has decimal points.

[2021-09-21 14:36] dmfalke commented on #6
This is a data loading issue. The client uses the order defined in the `vocabulary` property.

[2021-09-21 14:37] dmfalke commented on #6
I transferred the issue and removed assignments.

[2021-09-21 14:38] moontrip commented on #6
@dmfalke I saw your comment and was about to unassign myself but you already did 😄

[2021-09-21 17:57] SheenaTomko commented on #5
@SAK22, I'm going to mark this as complete because it's something that is now fixed when Jay reloads a study, and has been fixed for studies like PRISM2, India ICEMR Meghalaya, and others. However a separate bug was identified after this fix was made. I reported it here: https://github.com/VEuPathDB/EdaNewIssues/issues/146

[2021-09-21 17:57] jaycolin commented on #6
Fixed

[2021-09-21 17:57] #6 closed, assigned to jaycolin, SheenaTomko

[2021-09-23 15:52] d-callan commented on #7
so for 'health facility distance' in the first scatter plot ex, the subset service reports `Variable found to incorrectly have multiple values: EUPATH_0020213`.
the same is seen for the histo example w persons living in house `Variable found to incorrectly have multiple values: EUPATH_0000019`.
same again for roof material in the bar plot: `Variable found to incorrectly have multiple values: EUPAT

[2021-09-24 13:42] SheenaTomko commented on #6
Looks good in studies that have been reloaded like PRISM2 and India ICEMR cross-sectional. Other studies like India ICEMR Meghalaya that still need to be reloaded still have the problem, but closing this issue here

[2021-09-27 20:34] aaronwlsong opened #8 "Visualization: India ICEMR Fever Surveillance 'time since enrollment' vocabulary contains leading 0s"
In India ICEMR Fever Surveillance study, for some compatible variables,  the box plot has error page.

For example, when x="time since enrollment", y= any var, the webpage of visualization is down saying "something went wrong", and need to restart from homepage.

![image](https://user-images.githubusercontent.com/61077845/134980627-18d69fb1-cd0b-4874-af1a-49299f67c417.png)

[2021-09-28 19:54] SheenaTomko commented on #7
Looks like the issue was in which version of the household file was loading, leading to multiple values for household varaibles. Updating this in the [redmine](https://redmine.apidb.org/issues/44996). Closing this ticket

[2021-09-28 19:54] #7 closed, assigned to SheenaTomko

[2021-09-29 19:37] danicahelb commented on #8
I'm seeing the same issue, India ICEMR fever surveillance is currently up-to-date in terms of loading

[2021-09-30 00:53] steve-fischer-200 commented on #8
the error details say "Cannot read properties of undefined (reading 'length')"

[2021-09-30 19:24] d-callan commented on #8
time since enrollment claims a vocabulary like '04', '06', '07', '08' but returns values like '4', '6', '7', '8'. is the leading 0 important? id think not, since this is meant to represent days. going to tentatively transfer to jay/ loading.

[2021-10-04 13:39] bobular commented on #8
This variable now works for barplot, boxplot and scatterplot

![image](https://user-images.githubusercontent.com/308639/135861445-717c09fa-cc5c-4898-98a9-d2f1662fb9ce.png)

Histogram is giving a 500 error.  I have seen this for other quasi-categorical integer variables.  I will see if there's another ticket for that, and if not, raise one.

[2021-10-04 16:06] bobular commented on #8
Closing this, but maybe note that "Malaria diagnoses in the past year count" (same study) also has some leading zeroes in the vocabulary, but this does not seem to cause any issues (barplot response doesn't return any leading zeroes).

See also (time since enrolment is an integer-categorical variable)
https://github.com/VEuPathDB/EdaNewIssues/issues/160

[2021-10-04 16:06] #8 closed, assigned to jaycolin, aaronwlsong

[2021-10-04 21:18] SheenaTomko opened #10 "Show units for variables that are strings"
Ex: India ICEMR Behavior cross-sectional study has a number of variables (Transit time to health facility, 'Time from fever onset to treatment seeking', Time from malaria test until treatment started; Proposed time to seek malaria treatment) that have units loaded which do not display. Presumably this is because all of these variables contain values like "1-2" and "Don't know", and so are string r

[2021-10-04 22:06] steve-fischer-200 opened #9 "Have annotation property (or similar) to distinguish variables that are IDs"
there are two problems with variables that are identifiers (used in case-control studies).

1. if these are strings, they risk having large vocabularies.
2. if they are numeric, they are being inferred as continuous integers.

[2021-10-05 01:35] steve-fischer-200 commented on #10
this will entail changes in the subsetting service, the service layer API, and the client code

[2021-10-05 15:24] steve-fischer-200 commented on #10
sheena-  the recommended remedy is for outreach to add the units to any of these:
- the variable name
- the description
- the values
we're sorry that units don't work as you expected for strings, but... there are a number of reasons why they can't (without significant complications)

[2021-10-06 12:32] dmfalke commented on #11
This issue needs to be moved to https://github.com/VEuPathDB/EdaLoadingIssues

[2021-10-06 12:33] SheenaTomko opened #11 "All caps values are being displayed before sentence case values"
Ex: India ICEMR Meghalaya, the value "ASHA" appears before "Agricultural laborer" even though it should be second alphabetically. On the live site, Agricultural laborer is the first value, followed by ASHA.

Need to update this so that values appear alphabetically.

![Screen Shot 2021-09-01 at 9 57 51 AM](https://user-images.githubusercontent.com/54597319/131694634-363422c1-12f3-422f-80d6-44a3a774

[2021-10-06 17:40] SheenaTomko commented on #10
ClinEpi team decided that in cases like this we will add units to the end of the values and to the description. Closing this ticket

[2021-10-06 17:40] #10 closed, assigned to SheenaTomko

[2021-10-06 18:53] aaronwlsong commented on #8
Tested in the same study, seems the issue still exist.

[2021-10-06 19:05] sweverschulman opened #12 "500 Internal Server Error: Wash B Kenya scatter plot with age"
while qa-ing scatter plot. I ran across this error while plotting 'Length- or height-for-age z-score, using median stature' on the x and 'age' using a scatterplot. I encountered the following error: 500 Internal Server Error {"status":"server-error","message":"Unable to fetch all required data","requestId":"3rXrk8efBkHBvQzzWvAUpA"}

<img width="946" alt="Screen Shot 2021-10-06 at 3 04 19 PM" src="

[2021-10-06 21:07] jaycolin commented on #8
Checked the database. Vocabulary for 'Time since enrollment' has no leading zeros. In 'Browse and subset' the values are displayed accurately (4,6,7,8). Works in box plot, scatter plot, and bar plot, but histogram never loads.

[2021-10-07 00:14] jaycolin commented on #11
Fixed India ICEMR Meghalaya, other studies on reload

[2021-10-07 11:17] ryanrdoherty commented on #12
Looks like the is_multi_valued column is not being set in at least this study and SCOREFC; I didn't check further.  A value of null in the DB is interpreted as false, but the AGE variable (OBI_0001169) has multiple values.  The subsetting service throws 500 when it finds multiple values in vars where is_multi_valued = false to alert us to loading problems.  Going to send this over to loading to ad

[2021-10-07 11:52] dmfalke commented on #8
This specific example appears to be working on qa.clinepidb.org now. There is a more resilient solution covered in https://github.com/VEuPathDB/web-eda/issues/508, so moving this to complete.

[2021-10-07 13:52] SheenaTomko commented on #11
This looks great in India Meghalaya. Confirmed that ASHA was correctly ordered based on spelling, not based on capitalization. Also confirmed that numeric variables with <10 values were still ordered correctly, with values like 10 and 22 appearing in the correct place rather than after 1 or 2, respectively.

[2021-10-07 17:01] jaycolin commented on #12
List of currently loaded multi-valued variables here:
https://docs.google.com/spreadsheets/d/1XuU7fEQ5qhg5U6mRDE-cpxz3ewtyWZN4nC9vZZi9BSY/edit#gid=1325300712
Please make notes if any action is needed

[2021-10-07 17:07] ryanrdoherty commented on #12
@jaycolin Does this mean you have a TODO to populate the column with "1" for all those columns?  Is this a DB patch or will you reload the affected studies?

[2021-10-07 17:31] jaycolin commented on #12
@ryanrdoherty Outreach will update the spreadsheet as needed. This was a bug in the loading plugin, which is fixed now, but I will have to reload all studies

[2021-10-08 19:00] danicahelb opened #15 "General: Allow different mechanisms of hiding a variable (downloads vs browser)"
Some variables are not useful for exploring on the site but are useful for analyses offline. For example, in WASH-b Kenya "Cluster ID" is not useful to display on the website.

on the WDK site, the presenter allows us to hide these variables from the site but keep them in the downloads

on the EDA site, we can annotate a variable as "hidden" in the .owl but this will hide it from both the site and

[2021-10-08 19:11] danicahelb opened #13 "WASHb Kenya page unresponsive"
When I click to look at data for Cluster ID for WASHb Kenya (using qa.restricted on Chrome), the page freezes. The loading icon stops moving and I cannot click on anything else on the page. Soon after the page crashes entirely

![image](https://user-images.githubusercontent.com/25450900/136613090-e4638852-8f3a-4b30-9f1a-d1dc67b6a7e8.png)

[2021-10-11 00:29] steve-fischer-200 commented on #13
This is a data loading issue.  The phase 1 solution is, in the database, and in the owl file, to set the **DisplayType** of this variable to **Hidden**

in Phase 2 we probably want to introduce a **DisplayType** of **downloadOnly** (or similar)

@SheenaTomko also, we want to survey live site **hidden** variables, and make them similarly hidden in EDA

[2021-10-11 17:08] bobular opened #14 "Variable values are "0 days", "1 day" "1-2 days" "3 days" ... "Don't know", but vocabulary is different"
Study: India ICEMR Behavior Cross-sectional
Variable: Proposed time to seek malaria treatment
Values in subsetting table: see title
vocabulary: "0", "1", "1-2", "3", ... "Don't know"

The discrepancy between values and vocabulary cause the histogram visualization to be empty

[2021-10-11 17:29] SheenaTomko commented on #13
@steve-fischer-200 we surveyed hidden variables on the live site and collated them[ here](https://docs.google.com/spreadsheets/d/1p9Xy0xVBQz16DV1xV7mGukWNeY-_tFEzhii4MD0vupk/edit#gid=0).

I'm closing this ticket since it should be fixed when Jay reloads the study, and will open a new phase 2 ticket for annotating and handling different types of hidden variables

[2021-10-11 17:29] #13 closed, assigned to SheenaTomko

[2021-10-11 17:58] SheenaTomko commented on #15
Adding Danica's original post, in phase 1, we have an annotation property called **Hidden** in the owl file that can be left blank or set to **yes**. During preprocessing and loading, that annotation property is used to set **DisplayType** to **Hidden**.  If a variable is **Hidden**, the variable is excluded from the download files and not displayed on the website.

For phase 2, we want to introdu

[2021-10-11 18:13] SheenaTomko commented on #12
This was fixed with Jay's reload. Closing this ticket

[2021-10-11 18:13] #12 closed, assigned to jaycolin

[2021-10-12 00:19] jaycolin commented on #14
Patched

[2021-10-12 00:19] #14 closed, assigned to jaycolin, SheenaTomko

[2021-10-12 13:10] bobular commented on #14
Thanks @jaycolin

Just tested on on qa and it looks good.
![image](https://user-images.githubusercontent.com/308639/136962244-e3fdea24-f8a1-498f-a9cd-7983ed47f774.png)

I hope it really did need fixing (I tested using the dfalke-b back end and forgot to say).

Also this variable is now, correctly, barplot fodder, not histogram!

[2021-10-12 14:46] SheenaTomko commented on #14
@bobular, why does the value of "Don't know" appear in the browse and subset tab but not the plot?

[2021-10-12 15:32] bobular commented on #14
Oh, that's weird - I went to check again on qa and it's there now.  The numbers look the same (so no subsetting differences, as far as I can see)

![image](https://user-images.githubusercontent.com/308639/136985712-d22d1cec-b230-4f59-8fb0-f481695b39bd.png)

[2021-10-12 15:33] jaycolin commented on #14
I hit the cache refresh URL, then "Don't know" appeared

[2021-10-12 16:57] SheenaTomko commented on #14
Looks good to me now too. I just posted on another ticket I was qc'ing too that sometimes even if I refresh the cache using that URL and clear my own cache, I still see the bug when I first try and check

[2021-10-13 22:03] danicahelb commented on #19
More information & example:

Currently, we are loading communities as 1:1 with Households for studies that don’t have community variables other than “Country”.
- If we didn’t do this, it would get loaded with a count of “1" for every Country, and the distribution table of Country data would be meaningless.
- If people looked at “Country”, they can’t tell without subsetting the data how many househ

[2021-10-13 23:12] steve-fischer-200 commented on #15
we can go "cheap" or we can go "correct"

cheap:
- use the existing **displayType** property, and hope that **noDownload** never collides with **Hidden**
- patch the relevant variable's metadata in the db (and update the owl file)

correct:
 - introduce a new **scope** property (similar to genomics sites), with values like **downloadOnly**, **noDownload**, **hidden**
 - retain the **DisplayType**

[2021-10-13 23:28] steve-fischer-200 commented on #9
this is replaced by https://github.com/VEuPathDB/EdaLoadingIssues/issues/15

[2021-10-13 23:28] #9 closed, assigned to nobody

[2021-10-19 20:03] asizemore opened #16 "Mbio: load data"
Placeholder for loading microbiome data to be used on the feature site.

This ticket is just for loading data. Annotations will be in a separate ticket.

[2021-10-19 20:05] asizemore opened #17 "Mbio: listvar annotation"
Are we happy annotating as a multifiler?

[2021-10-19 20:15] asizemore opened #18 "Mbio: data annotations"
Add new eda annotations. Clinepi has a document that should have all of the necessary descriptions.

[2021-10-20 20:20] SheenaTomko commented on #15
Discussed on 10/20/2021 with Steve and Danica. Decided that

- For b55 we will continue to have the UI use the displayType property
- Outreach team will use the "hidden" annotation property and mark "yes" for all variables that should be hidden in any way in new studies being loaded in b55
- New "scope" annotation property needs to be created in the owl files and in the UI. This will be a positive

[2021-10-21 18:51] steve-fischer-200 commented on #19
just discussed with danica and sheena.  seems the best short term path, until we actually have cross study, is to collapse during data loading.

long term solution might be to also load a "cross-study" version of the study, with its own entity graph, and, when needed, tables for the expanded entities.   the other tables can be share with the original study.

(trying to achieve the collapsing dynam

[2021-11-05 19:16] SheenaTomko opened #20 "Add ability to configure whether to collapse nodes or not"
Splitting this into a new ticket from https://github.com/VEuPathDB/web-eda/issues/287. Basically want to let ClinEpi team choose whether to collapse nodes or not. In the WDK site, ClinEpi staff can control it for each entity via the presenters.

Per Dave (in the above linked ticket):
Regarding making this configurable, we're going to have to think about how to do this. On the live site, we expose

[2021-11-09 16:25] steve-fischer-200 commented on #20
the ui/infra team has discussed this and, at this point, think that the best way to handle studies that need collapsing is:
- load the study collapsed.
- do not attempt to re-engineer either the backend or front-end to hand the gymnastics of dynamically collapsing studies
- for the future world of cross-study, additionally load the study expanded.  it would not appear in the study menus
- have met

[2021-11-11 22:16] chowington commented on #20
@dmfalke If I'm reading this correctly, we no longer need logic to collapse nodes on the frontend, correct? Should I leave the logic and prop that's there, or should I revert it?

[2021-11-11 22:21] dmfalke commented on #20
@steve-fischer-200 this issue has to do with the structure of the variable tree, not the entities. Specifically, if a node had a single child that is not terminal, the node will be hidden and the child will take its place.

@chowington I don't think this impacts what you've done.

[2021-11-17 14:51] d-callan commented on #17
think the most recent proposal is a collectionType annotation w a value of 'abundance' for the various parent terms/ taxa.

[2021-12-02 16:44] danicahelb opened #21 "Bug: Year variables should not pass through the origin"
It doesn't make sense to have year variables pass through the origin on visualizations. We may need a new annotation prop for these? For example, see "Birth Year" in SCORE S mansoni RCT:

**Histogram in subset tab**
![image](https://user-images.githubusercontent.com/25450900/144465407-842c9d97-ee43-4c2d-9f88-0dd275ef0d34.png)

**Box plot in vis tab**
![image](https://user-images.githubusercontent.

[2021-12-07 18:29] moontrip commented on #21
I have noticed this long time ago when implementing boxplot Viz. If I remember correctly, the issue was that those year variables  like birth year, enrollment year, etc. was set to type: number, not date: if they are set to date, then I think those plots would be correctly shown with little change at frontend codes.

[2021-12-07 20:50] SheenaTomko commented on #19
Decided to collapse 1:1 only communities and households and to do that at data loading by modifying the owl file. Closing this ticket

[2021-12-07 20:50] #19 closed, assigned to nobody

[2021-12-07 21:26] SheenaTomko commented on #21
Looked at all year variables in the owl file and checked loaded studies. Most year variables only had a few values (<6) and showed as categorical, so we may want to recheck after we switch to displaying all continuous variables as histograms.

For now, only the original variable/study needs fixing. @nkittur-uga, please have Jay patch/reload SCORE S mansoni RCT so that "Birth year" has the type "da

[2021-12-07 21:28] danicahelb commented on #15
This is how we've annotated "hidden" in the .owl files:

Annotations will indicate where the variable should NOT appear.

Set to “everywhere” when you want to hide the term everywhere (hidden everywhere in the UI and also hidden in download files). For example:

- Entity names: Household (PCO_0000024); Participant (EUPATH_0000096); Sample (EUPATH_0000609),etc.
- Subsets of variables that a provide

[2021-12-08 01:42] danicahelb commented on #21
paused until switch to display all continuous vars as histograms, regardless of # of unique values

[2021-12-14 10:23] jaycolin commented on #15
For the near future this can be assigned to me. I have to handle the cases where variables must be excluded from downloads; the other case of excluding from variable tree is already handled.
For future, speculative cases where variables must be hidden from viz, etc. I'll populate scope in the db so that UI can check it. Steve can tell me what value should mean "hide from viz" and I'll load it that

[2022-01-13 19:44] danicahelb commented on #15
Jay has updated all studies so that they have columns for both HIDDEN and display type = hidden

Here is every instance of HIDDEN in the studies currently loaded (note that the studies will need to be reloaded or patched to correct HIDDEN):
[code]
@steve-fischer-200 we are ready for you to:

1. update the java code to include the new HIDDEN field
2. update the client code to use HIDDEN
3. remove t

[2022-01-13 20:48] danicahelb commented on #15
@jaycolin has patched all studies to the latest values from .owl(s). NOTE displayType is still in use, so don't get confused. In the future the only value in DISPLAY_TYPE will be multifilter or null.

[2022-01-19 18:51] bobular opened #22 "Identify geolocation variables more readily through displayType annotation (backend)"
The study variable metadata for UMSP currently has a "category" node in the tree called "Geolocation" EUPATH_0043212, which has eight intentionally hidden child variables:

1. latitude (type='number', shape='continuous')
2. longitude (type='longitude', shape='continuous')
3. geohash_1 (type='string', shape='categorical')
4. geohash_2
5. geohash_3 etc to geohash_6

The client needs to know which en

[2022-01-19 20:40] SheenaTomko commented on #22
Discussed in slack and decided to have Jay automate loading of the indicated displayType values for all owl files that include the indicated terms such as latitude and longitude.

I created a separate [redmine ticket ](https://redmine.apidb.org/issues/46961) for Jay's part in changing how displayType is loaded.

Keep this ticket to represent the work that @bobular will do once Jay's part is comple

[2022-01-26 15:19] danicahelb opened #26 "Finalize Downloads Tab"
For b57, finalize the downloads tab so that it looks like the mockups

- We will introduce the “ClinEpiDB Documents” & “Study Documents” sections.

- In Manual Delivery, ClinEpi outreach staff will introduce 3-4 new directories for every study ID/release #. These directories will be used to populate different sections in the downloads tab. This will only be applied to the most recent release.

1.

[2022-01-26 15:22] danicahelb commented on #26
We may also want to consider adding these features to the downloads tab: VEuPathDB/web-eda#939

[2022-01-31 19:22] #15 closed, assigned to steve-fischer-200

[2022-01-31 20:58] danicahelb commented on #26
Outstanding questions, to be addressed by the Downloads WG, as discussed in 1/28 EDA WG meeting:

**Full dataset table:**
- Do we want to include the file name as well as the file description?
- What file extension is appropriate to use? Each zip folder will contain exactly 1 file. Does “.txt.zip” make this clear?

**Study documents table:**
- Finalize verbiage for “Study Documents” subtitle
- Fil

[2022-02-16 16:39] SheenaTomko commented on #21
The switch to make all continuous vars histograms has been done. Some studies have already either updated year to forceStringType or set a min/max range for the variable. From Jay via slack, if we want to load year as a "date" type as DK suggested,

This is obviously not ideal. My recommendation is to update the owl files for the following studies now to include a defaultDisplayRangeMin, defaultDi

[2022-02-17 16:33] asizemore opened #38 "splitUnitFromValue annotation for variables"
In the Preterm Infant Resistome II (WGS) study, the "Age at discharge", "Maternal age at birth", and "Postmenstrual age at sample collection" should be numbers with days/months/years as the units. For example, see [this Age](https://beta.clinepidb.org/ce.beta/app/workspace/analyses/DS_221d2bcac4/FagLY4k/variables/EUPATH_0000096/OBI_0001169) variable.

[2022-02-22 15:05] d-callan opened #25 "Backend: Add binSlider specs to variable metadata"
The workflow determines optimal bin widths for use in the subset tab. It uses the plot.data R package to do this, which guarantees we remain consistent between the subset and viz tabs while improving performance.

This issue is a proposal to do the same for the binSlider specs.

Currently, determining bin slider min, max and step values is done slightly differently for the subset and viz tabs, w s

[2022-02-23 21:41] danicahelb commented on #25
this sounds reasonable, I don't think it needs to be discussed before implementing

[2022-02-24 19:54] SheenaTomko commented on #21
I am closing this and marking it as complete. Nupur, Danica, and I updated the conversion/owl files for the studies listed above to add a default min, max, and bin width. These changes will be implemented as the studies are reloaded.

[2022-02-24 19:54] #21 closed, assigned to danicahelb, SheenaTomko, nkittur-uga

[2022-03-01 17:17] SheenaTomko opened #24 "Study summaries table should consistently use Title Case or Sentence case"
The columns on the study summaries table use different cases. Need to decide whether to use title or sentence case and apply to all:

![Screen Shot 2022-03-01 at 11 15 55 AM](https://user-images.githubusercontent.com/54597319/156216763-be631ae9-7114-4843-86e8-ad098b0fe154.png)

![Screen Shot 2022-03-01 at 11 16 09 AM](https://user-images.githubusercontent.com/54597319/156217006-e4a8fa79-a1ca-48fa-

[2022-03-01 19:15] steve-fischer-200 commented on #24
The ontology is using Sentence case for variable names.  I think we should use the same here.

So, eg "Project Name" should be "Project name"

[2022-03-01 19:15] steve-fischer-200 commented on #24
i transferred this to EdaLoadingIssues because it is a DD team thing.  i assigned to @jaycolin figuring he'd know best how to route it

[2022-03-01 23:13] steve-fischer-200 commented on #26
i am transferring this to EdaLoadingIssues because i am guessing there will be work setting up the download files to support this.

[2022-03-03 17:05] bobular opened #27 "Low-cardinality variables need a vocabulary in study metadata"
Came up during work on this ticket
https://github.com/VEuPathDB/web-eda/issues/914

b56 faceting will not show empty-data facets properly because there is no vocabulary.

[2022-03-04 00:52] danicahelb commented on #27
also, when low cardinality variables are used in overlays, the legend for values is blank (see this example from GEMS)
<img width="1099" alt="image" src="https://user-images.githubusercontent.com/25450900/156678282-b4298e3b-522d-41fe-a76e-32ab158c5315.png">

[2022-03-04 01:49] moontrip commented on #27
@danicahelb (and probably @d-callan) Yes indeed. The legend text/label relies on backend's data.name, but when using Overlay variable of `Household wealth index, categorical` (same to barplot and boxplot), I found that the data.name is empty string: not quite sure if it only happens to the variable. So it is a backend issue, I suppose.

[2022-03-04 12:02] bobular commented on #27
That's a different issue, already reported here: https://github.com/VEuPathDB/plot.data/issues/134

[2022-03-14 20:22] jaycolin commented on #22
These properties are now set in eda-inc for the 5 studies affected: four SCORE studies - niger, seasonal, s. mansoni cross-sectional, and moz; and UMSP

[2022-03-17 16:13] ryanrdoherty commented on #22
EdaSubsettingService (which parses the variable metadata from the DB) is now set up to allow (and transfer to the client) six display types:
[code]
@bobular we cannot use the precision column as you describe above because precision is number- and integer-specific, and (if I remember correctly) the geohash vars are strings.  We can talk about how to find them.  I assume you cannot simply use the na

[2022-03-31 17:51] asizemore opened #36 "EDA: Taxonomic ranks should be ordered taxonomically"
Currently they are ordered lexiographically.

<img width="369" alt="Screen Shot 2022-03-31 at 1 51 46 PM" src="https://user-images.githubusercontent.com/11710234/161118715-88c72af5-73d6-4af1-acda-ff873b524087.png">

On the live site they are ordered taxonomically. Can we do a similar trick with the EDA data so that the taxonomic ranks are ordered taxonomically?

[2022-03-31 18:02] wbazant commented on #36
Sounds like displayOrder is what we'll need

[2022-04-06 14:41] asizemore opened #35 "Update annotation properties for ALL mbio studies"
<img width="1754" alt="Screen Shot 2022-04-06 at 10 38 56 AM" src="https://user-images.githubusercontent.com/11710234/162000636-cc3c46aa-67da-46f3-b112-0197fa5b2f77.png">

One example is Daily Baby. If a study is longitudinal, it should also have relevant repeated measures entities.

@wbazant I'm late in making this issue and not remembering our discussion well - are there any barriers to loading

[2022-04-06 14:42] chowington commented on #25
Bit confused about the styling tag here, personally!

[2022-04-06 21:48] d-callan commented on #25
Not sure we should try this for b57 given how many hands it has to pass through/ the number of related tickets it's likely to generate.

[2022-04-07 13:26] asizemore opened #40 "mbio EDA: Add featured variables"
Featured variables in the EDA are variables that always live at the top of the variable picker in their own special box, so that it's easy for a user to see them (and star them) immediately. This view of featured variables is the same wherever the variable picker is seen - from the Subset to the Visualize to the Downloads tab.

The way we're doing it right now is that each study has it's own list

[2022-04-07 13:30] asizemore opened #37 "EDA Downloads: Add full dataset files"
For the downloads tab of the EDA, mbio is hoping to make available those same files that are currently on the live site.

For example, .biom files and sample details.

[2022-04-08 17:19] danicahelb commented on #22
changes all made in database and frontend allows displayType but doesn't actively use it yet. @bobular how essential is this to make maps usable in b57?

[2022-04-08 21:06] bobular commented on #22
Some front end work remains as discussed in https://github.com/VEuPathDB/web-eda/issues/979, but why is this ticket here (#22) still open?

[2022-04-11 14:48] d-callan commented on #25
do we know if @jaycolin has been made aware of this?

[2022-04-11 14:49] d-callan commented on #27
this looks like it belongs in EdaLoadingIssues for jay.

looks like the workflow isnt generating the vocabulary for low cardinality continuous variables.

[2022-04-11 17:12] jaycolin commented on #27
there's no specification on what you consider "low cardinality". Currently we never generate Vocabulary when dataShape = continuous. If we need to automatically handle this case, you will have to tell me what minimum or maximum number of values triggers generating Vocabulary. Also consider whether it is appropriate to handle this, or if the variable should be forced to string and handled as catego

[2022-04-11 17:48] d-callan commented on #27
The vocabulary is needed for legend and axis tick labels, which typically allow up to 10 values. I'd say that's a fair cutoff for  'low cardinality'

[2022-04-11 17:57] bobular opened #28 "dataShape is being improperly set to 'ordinal' for non-ordinal categorical variables"
This is from the dfalke-b back end
/eda-subsetting-service/studies/GEMSCC0003-1

One downside is that too many variables are available for the lineplot visualization.

[code]

[2022-04-12 00:21] danicahelb commented on #28
this seems to be a general issue across studies. For example, I can select "Cluster study arm" for the x-axis in line plots, even though this variable should be a **non-ordinal** categorical variable.

it looks like dataShape is being incorrectly set across studies; categorical terms that do not have a valueOrder in the valueMap are being given dataShape of ‘ordinal’ when they should be ‘categoric

[2022-04-12 00:37] danicahelb commented on #27
this is happening broadly across studies, so it is more involved than patching a few terms. see this example from MALED

<img width="1257" alt="image" src="https://user-images.githubusercontent.com/25450900/162855290-47497cbb-127b-4bfe-98f2-6ff87bd5ef22.png">

[2022-04-12 01:12] jaycolin commented on #28
Reloading in progress with fix
https://github.com/VEuPathDB/ApiCommonData/commit/aeeb83adaf9d9a26e6d39f6c018e622be2e34afe

[2022-04-12 01:12] jaycolin commented on #27
Reloading in progress with fix
https://github.com/VEuPathDB/ApiCommonData/commit/c3b4339f1c2212e62ffe50f7416a36bac357cbe6

[2022-04-12 21:10] danicahelb commented on #24
agree, we should use sentence case

"Eda Study ID" should be changed to "EDA study ID"

[2022-04-13 11:11] bobular opened #32 "Geo variables are `hideFrom: [ ]` (not hidden in variable pickers)"
In **SCORE Seasonal...** at least.

`GEOHASH 1`..`GEOHASH 6`, `latitude` and `longitude` are `hideFrom: [ ]` (empty array)

This means they are showing up in variable pickers.

![image](https://user-images.githubusercontent.com/308639/163168480-dc95717b-b8cf-4f1e-ad06-60f886bd9b5c.png)

Shouldn't they be `hideFrom: [ 'everywhere' ]`, or something like that?

IMO a b58 issue.

[2022-04-13 17:51] jaycolin commented on #28
Fixed a bug
https://github.com/VEuPathDB/ApiCommonData/commit/aeeb83adaf9d9a26e6d39f6c018e622be2e34afe

[2022-04-13 17:51] #28 closed, assigned to jaycolin

[2022-04-13 17:59] jaycolin commented on #27
Reloading done. I can't really check visualization but the original case EUPATH_0000143 wealth index categorical, now has vocabulary that was generated by workflow. All studies should now have vocabulary where cardinality <=10.

[2022-04-13 18:15] jaycolin commented on #24
Fixed https://github.com/VEuPathDB/EbrcModelCommon/commit/5ca68255d7bb3235aeadd89391f3afbc04487d66

[2022-04-13 19:11] SheenaTomko commented on #27
Something is still wrong here and I don't know who to assign it to. Tested on qa.clinepidb.org. When testing the examples given above, the plots are empty:
<img width="1104" alt="Screen Shot 2022-04-13 at 2 07 36 PM" src="https://user-images.githubusercontent.com/54597319/163252982-df99360d-62ee-4df3-ac6a-ce998503eb53.png">

<img width="1118" alt="Screen Shot 2022-04-13 at 2 09 56 PM" src="https:/

[2022-04-13 19:50] jaycolin commented on #27
I have done a comprehensive audit. For all studies the vocabulary is present as required for variables <=0 (except studies currently reloading - PROMOTE, SHINE)
I'm closing this again but recommend re-opening the parent issue https://github.com/VEuPathDB/web-eda/issues/914

[2022-04-13 19:50] #27 closed, assigned to jaycolin

[2022-04-13 19:50] SheenaTomko commented on #28
This seems to be corrected now. Can no longer use Floor material in GEMS on the X-axis of a line plot or Cluster study arm in LLINEUP

[2022-04-13 19:54] SheenaTomko commented on #27
Moving this ticket to complete. I think this ongoing issue is appropriately documented in https://github.com/VEuPathDB/plot.data/issues/134

[2022-04-13 20:01] SheenaTomko commented on #24
Test tomorrow after the site rebuilds overnight

[2022-04-13 20:04] jaycolin commented on #24
Fix can be seen at integrate.clinepidb.org
![Screenshot from 2022-04-13 16-03-42](https://user-images.githubusercontent.com/8750198/163261229-ea6ed0b4-934d-41f6-acb6-93305aa8c7ad.png)

[2022-04-13 20:05] jaycolin commented on #24
Missed a couple  of labels

[2022-04-13 20:13] jaycolin commented on #24
Fixed a few more
https://github.com/VEuPathDB/EbrcModelCommon/commit/14a8158a62fba9a751ef38a6b7c2006abfd7f874

[2022-04-13 20:40] SheenaTomko commented on #22
Closing this, since Bob is correct we have another ticket for implementation

[2022-04-13 20:40] #22 closed, assigned to nobody

[2022-04-14 11:20] bobular opened #29 "Lineplot 500 response for certain categorical y variables"
GEMS1 - tested on qa today

No filters
Lineplot
x axis: Age group
y axis: **Breastfeeding status**
numerator/denominator: any valid combination

causes a 500 (and there is no obvious explanation in the HTTP header "stack trace")

I can't seem to find another variable in GEMS1 that causes the same error.

Not related obviously to https://github.com/VEuPathDB/EdaDataService/issues/169

[2022-04-14 14:42] SheenaTomko commented on #24
@jaycolin most columns now look great, there are just a few left with issues.

total_number used to appear as "Total number". Can you check what happened there? And then also change "Release # and Date" -> "Release # and date" and "Contact Institution" -> "Contact institution". Thanks!

<img width="301" alt="Screen Shot 2022-04-14 at 9 37 49 AM" src="https://user-images.githubusercontent.com/54597

[2022-04-14 15:30] jaycolin commented on #24
Fixed Release number and institution.

**total_number** something Cristina is working on ... assigning to her.

[2022-04-14 17:26] d-callan commented on #29
R is complaining its been passed a value of 'Not currently breastfed' as a claimed numerator and/or denominator value but cant actually find any such value. if i remove 'Not currently breastfed' from both numerator and denominator it works. i also dont see 'not currently breastfed' in the subset tab. i wonder if the vocabulary could possible be wrong somehow?

[2022-04-14 17:54] jaycolin commented on #29
Incorrect line in valueMap.txt forces vocabulary to include the value that doesn't exist
`f4a_breastfed EUPATH_0011048  0 Not currently breastfed 1
`
I will patch the db and update this file

[2022-04-14 18:07] jaycolin commented on #29
DB patched, valueMap.txt corrected. Now works on qa.restricted

[2022-04-14 18:07] #29 closed, assigned to jaycolin

[2022-04-18 22:33] danicahelb opened #31 "Add 1:many information in database"
the ticket for data dev is: https://redmine.apidb.org/issues/47686
this ticket is a reminder to make sure the redmine ticket gets completed

[2022-04-18 22:59] danicahelb opened #30 "Update entity diagram to differentiate 1:1 vs 1:many relationships"
Once 1:many information has been added into the database (see VEuPathDB/EdaLoadingIssues#31), ensure that the UI properly differentiates 1:1 from 1:many.

For more information, see the original ticket for this issue https://github.com/VEuPathDB/web-components/issues/326, which was pared down to switch the arrows in the entity diagram to nodes

[2022-04-19 15:38] danicahelb commented on #24
@SheenaTomko and @aurreco-uga what is "Total number"? I think we need a more descriptive label here

[2022-04-19 15:43] SheenaTomko commented on #24
That's a good question. My best guess is it's a column used behind the scenes for calculations since it has the same values as Total requests when there is >=1 request, is 0.5 when there are 0 requests, and is 0 when requests are N/A. @aurreco-uga can we hide this column from the web page and the download?

![Screen Shot 2022-04-19 at 10 42 39 AM](https://user-images.githubusercontent.com/54597319

[2022-04-19 16:01] danicahelb commented on #25
slack conversation with @jbrestel

[2022-04-19 16:21] danicahelb commented on #25
the ticket for data dev is: https://redmine.apidb.org/issues/47693
this git ticket is a reminder to make sure the redmine ticket gets completed

[2022-04-19 19:14] danicahelb commented on #30
Note from JohnB: backend changes will not be rolled out for a few cycles (will roll out when mega study changes go out)

This ticket is paused until https://github.com/VEuPathDB/EdaLoadingIssues/issues/31 is done & all studies have been patched or reloaded

[2022-04-19 19:14] danicahelb commented on #31
Note from JohnB: backend changes will not be rolled out for a few cycles (will roll out when mega study changes go out)

[2022-04-19 20:53] danicahelb opened #33 "WASH-b BNG terms under "Observation details" are multivalued, study needs to be reloaded with updated .owl"
I'm looking at the WASH-b Bangladesh study. I applied filters for Cluster study arm = "control" & "nutrition"

Age has this distribution in my subset
<img width="1413" alt="image" src="https://user-images.githubusercontent.com/25450900/164093557-dc9e4098-6b9a-40d4-8e4b-558cf907e2a4.png">

But I cannot select "Age" as an x-axis variable in the scatter plot! (i have not set any other plot parameters

[2022-04-19 20:56] danicahelb commented on #33
actually, i cannot select any terms under "observation details" even though i should be able to choose year and month as well as age
<img width="313" alt="image" src="https://user-images.githubusercontent.com/25450900/164094174-12a812ed-df8f-409f-8aaf-0f1968c496c0.png">

All other greyed out terms make sense

[2022-04-19 20:58] danicahelb commented on #33
similarly, i cannot select these terms for the y-axis

[2022-04-19 21:01] danicahelb commented on #33
actually... this may be due to these terms being multi-valued in this study. If this is the case, no need to change anything now. I intend to fix the multi-valued terms in a reload

[2022-04-20 10:49] bobular commented on #33
Can confirm. The client requires the variable constraint `allowMultiValued` to be true if multi-valued variables are to pass the constraint filtering.  Default behaviour (in the absence of this constraint being provided) is to disallow all multi valued vars for all variables for all visualizations.

[2022-04-20 11:17] dmfalke commented on #33
Should this issue be moved to a particular repo, or can it be closed?

[2022-04-20 15:58] d-callan commented on #25
@bobular rightly pointed out that units (particularly for date variables for ex) may make this tricky. are we saying we need to determine the bin slider values for each possible unit in the workflow?

[2022-04-20 21:40] danicahelb commented on #33
@dmfalke its a data loading issue. I will assign the ticket to myself. Thanks

[2022-05-03 15:12] asizemore commented on #40
Slack discussion on how to do this started [here](https://epvb.slack.com/archives/C03B93PANTA/p1649345930555619)

[2022-05-05 10:20] wbazant commented on #35
This needs curation of ontology terms - look at ISA_2 field in the .owl: https://github.com/VEuPathDB/ApiCommonData/blob/master/Load/ontology/Microbiome/microbiome_human_only.owl

It's currently either "Sample" or "Source". Putting repeated measures at its own level is one requirement for this.

Also, get an ontology term for "Participant repeated measure".

Then there are .xml files .e.g: https:/

[2022-05-05 14:59] asizemore commented on #35
Thanks @wbazant !! Let me see if i can get this right:
- owl changes are for ontology team (Jie/John J)
- xml and pl changes would be for me? Or Jay? Or john b? Who would you recommend?

[2022-05-06 15:17] wbazant commented on #40
I'm going to feature one variable, EUPATH_0011996::Sample type, because it's my favourite variable, and I'll link the commit here so that it's clear how to do it.

If there's ever a variable V in studies S and S', such that V should be featured in S but not in S', then it's gonna be a problem because we have no technology allowing that. But otherwise you'll just be able to feature whatever variabl

[2022-05-06 16:18] asizemore commented on #40
Thanks @wbazant !! Sounds like a great plan!

Ooh good to know, thank you. Tagging @dpbisme as an fyi

[2022-05-09 10:01] wbazant commented on #37
Jay made a download file dumper for ClinEpi in ApiCommonData::Load::Plugin::MakeEntityDownloadFiles. If we're trying to make similar files to the ones on the live site it's not directly usable for MBio - I would instead adapt the current way to make files.

The existing code is here:
 MicrobiomeWorkflow::Main::WorkflowSteps::MakeDownloadFiles

 and it uses common code for reading result files + a

[2022-05-09 14:12] wbazant commented on #38
This is an issue for all terms where splitUnitFromValue annotation was applied: see the list in https://github.com/VEuPathDB/ApiCommonMetadataRepository/blob/master/ISA/config/ontologyMappingsMicrobiome.xml.

In an overview: the sample detail file has values like "2 hours", and with a "splitUnitFromValue" annotation we remove the " hours" part and record it as a unit. Remarkably, we don't show tha

[2022-05-09 14:13] wbazant commented on #38
Bonus: do something appropriate with the other functions, like enforceYesNoForBoolean. Copy the ClinEpi solution.

[2022-05-09 17:16] wbazant commented on #38
next todo on this is probably: find out what clinepi is doing for units, and what plans to support them there are - I think they were a "phase 2" kind of thing

[2022-05-09 17:34] wbazant opened #39 "EDA: add all the other microbiome studies"
Adding all other studies needs a new .owl. The status of this task as of early May is follows:

- Wojtek asked something related to making an .owl at an MBio meeting (what should the entities be called) to kickstart this
- Jie suggested there should be a meeting about it, also with ClinEpi
- Dan asked Jie to organise the meeting
- Jie asked Dan to pick a time

Then a few times Jie asked Dan if he

[2022-05-09 17:37] wbazant commented on #35
Someone doing the role of a MicrobiomeDB data loader in the future!

If you, Jay and JohnB all applied to get this role, and I had to choose someone, I would probably really struggle. Likewise, if I had to pick either you, Jay, or JohnB, and appeal to them to pick up this role, I would probably also really struggle. Therefore, I would like to abstain from answering!

Yes, a MicrobiomeDB data loade

[2022-05-11 20:45] asizemore commented on #37
Thanks @wbazant !

[2022-05-11 20:47] asizemore commented on #35
Sounds good, thank you!

So is it correct that at least one of the two studies loaded in VEuPathDB/MicrobiomeWorkflow#19 will have these repeated measures?

[2022-05-24 10:34] nkittur-uga commented on #32
This issue has now been fixed in 3 SCORE studies by adding variable names (geohash1, geohash2 etc.) to the GEOHASH terms and reloading the studies. QA is complete. Closing the ticket.

[2022-05-24 10:34] #32 closed, assigned to nkittur-uga

[2022-05-24 19:28] asizemore commented on #40
I'm not seeing the featured var on any study. @dpbisme do you?

[2022-05-31 16:11] asizemore commented on #40
Not crucial for beta release.

[2022-05-31 18:48] asizemore commented on #36
Reopening, as this is not complete

[2022-06-10 01:25] danicahelb commented on #33
also, remove "blinded" from study arm definition

[2022-07-19 20:04] bobular commented on #25
Thinking a bit more about this...

The loading-time binWidth annotations ensure that the default histograms in subsetting and visualization are binned the same way. However the binSlider min/max/step is calculated by the back end and displayed by the client on these default histograms. So there isn't really a need for load-time annotations, just consistent binSlider calculation logic from the two

[2022-07-20 18:22] jaycolin opened #34 "Computed bin width = 0 for number variables"
Many variables in recently reloaded datasets now have a computed bin width = 0 . Spot checked a production server (clinepidb.org  - eda058n) and the bin width there seems fine, so this must be a recent change in veupathUtils. During loading we run a script with:

`singularity exec docker://veupathdb/rserve
`
During execution a warning is printed but the process does not fail

[code]

[2022-07-20 18:58] jaycolin commented on #34
The script code is written here starting at 301 https://github.com/VEuPathDB/ApiCommonData/blob/master/Load/plugin/perl/LoadAttributesFromEntityGraph.pm#L301

For clinepi workflow we use singularity; for DIY/ApiDbUserDatasets we just run R locally (where I assume the vuepathUtils repo is installed)
Attaching script and input example (one variable)

[2022-07-20 19:00] jaycolin commented on #34
[prism2_clocktime.txt](https://github.com/VEuPathDB/EdaLoadingIssues/files/9153757/prism2_clocktime.txt)
[scripty.R.txt](https://github.com/VEuPathDB/EdaLoadingIssues/files/9153759/scripty.R.txt)

[2022-07-20 19:23] asizemore commented on #34
Found the [line](https://github.com/VEuPathDB/plot.data/blob/0a30de376a601b1a9c2b37f56f0b414cbd0b117a/R/utils-bin.R#L235) that's causing the error.
(from `numBinsToBinWidth`, called within `findBinWidth`)
[code]
which was added 2 months ago. For the prism2_clocktime example, there are only 15 unique values but the number of bins is 26. This causes `numBinsToBinWidth` to return 0 for the bin width,

[2022-07-20 19:32] asizemore commented on #34
So now my question is - is the check on unique values correct? Is it okay to have fewer unique values than bins? I'd think it'd be okay - @bobular what do you think? I'm not sure why we'd care about the number of unique values. Perhaps the number of actual values, but i dont follow why the number of unique vals matters.

[2022-07-20 22:28] jaycolin commented on #34
I found 124 examples of this bug, some variables with very few distinct values, some with well over 100. I can produce more example input data, but it is so random, I think the problem is not the data.

`DISPLAY_NAME                                 DATA_TYPE  DISTINCT_VALUES_COUNT  RANGE_MIN  RANGE_MAX  BIN_WIDTH
Head circumference                           number     195

[2022-07-21 14:24] asizemore commented on #34
moving to plot.data and tagging @bobular !

[2022-07-21 15:58] asizemore commented on #35
Transferring to EdaLoadingIssues

[2022-07-21 16:01] asizemore commented on #36
Just a note, this is the goal ordering of these terms (screenshot taken from live microbiomedb site)

<img width="399" alt="Screen Shot 2022-07-21 at 12 00 29 PM" src="https://user-images.githubusercontent.com/11710234/180260194-4226de3f-97b2-4bff-a213-c8e44fc27004.png">

[2022-07-21 16:10] asizemore commented on #17
stale - closing

[2022-07-21 16:10] #17 closed, assigned to nobody

[2022-07-21 16:25] asizemore commented on #38
@jaycolin does clinepi have variables like this that show up as "123 days" instead of the number 123? If yes, does the workflow have a way to split the number from the units?

[2022-07-21 16:27] asizemore commented on #40
reopening because it failed qa. Note that this is not crucial for the b59 beta release. Will pick back up after b59.

[2022-07-21 16:37] jaycolin commented on #38
No, we don't load values mixed with units (or if we do they are handled as strings/categorical variables and have no stats)

[2022-07-21 16:42] asizemore commented on #38
ah okay cool. So to make sure i understand - if we wanted these variables to show up as numbers, we'd need to go clean the data (so remove all the "days") before sending it over to you for loading?

[2022-07-21 17:00] jaycolin commented on #38
I see https://github.com/VEuPathDB/ApiCommonMetadataRepository/blob/master/ISA/config/ontologyMappingsMicrobiome.xml has the function to strip units; so that works for the value and you don't have to clean it. But I think the units should be defined in the ontology term (microbiome_human_only.owl) unitsLabel, unitsIRI. Though I don't think it is strictly required.

[2022-07-27 14:25] bobular commented on #25
Discussed with @asizemore and @jbrestel and we decided to close this.

[2022-07-27 14:25] #25 closed, assigned to nobody

[2022-08-01 15:37] SheenaTomko commented on #25
Nothing to qa here. Closing the corresponding redmine

[2022-08-01 21:23] asizemore opened #41 "Mbio: studies in eda-inc missing assay nodes"
<img width="1750" alt="Screen Shot 2022-08-01 at 5 21 02 PM" src="https://user-images.githubusercontent.com/11710234/182248739-2e20711b-22e9-466b-8514-2775285edb7a.png">

(above from qa clinepi)

After the mbio studies were loaded into eda-inc, they're now showing up on clinepi's qa site which is great because it gives us a chance to qa the mbio data early. I noticed for all mbio studies the assay

[2022-08-18 02:16] aurreco-uga commented on #24
what about the study info page
<img width="1094" alt="Screen Shot 2022-08-17 at 10 15 08 PM" src="https://user-images.githubusercontent.com/16354313/185278038-ab5b5003-d9f9-4ecc-87ac-964f9d158d97.png">
?

[2022-08-18 02:42] aurreco-uga commented on #24
committed https://github.com/VEuPathDB/EbrcModelCommon/commit/930171dd86dc907bb3d855a7015656c22d881936

[2022-08-18 02:42] #24 closed, assigned to aurreco-uga, SheenaTomko

[2022-08-18 12:59] asizemore commented on #40
Moving to b60 must haves

[2022-08-18 13:00] asizemore commented on #36
Moving to b60 must haves

[2022-08-18 14:23] SheenaTomko commented on #24
The updates are done on the study summaries table, but Cristina identified a related issue with the capitalization in the study characteristics table on the study details tab. I will make a separate ticket for that

[2022-08-22 16:11] asizemore commented on #37
Closing - @jaycolin added the full dataset download files last week.

[2022-08-22 16:11] #37 closed, assigned to SheenaTomko

[2022-08-22 16:12] asizemore commented on #37
@SheenaTomko Dan is about to go on vacation - would someone from clinepi mind helping us with the qa?

[2022-08-23 19:42] asizemore commented on #37
This issue should has become only about the full (non-subsetting) eda files. So the only files to qa are the ones that are under Full Dataset. We won't be adding any of the biom files or other auxiliary files at least until b60, and these will get their own ticket.

[2022-08-24 14:02] SheenaTomko commented on #37
Qc'd by looking at a couple of studies

BONUS - data is reshaped in the new download files. Looks like the live site in the sample characteristics file has one row per sample per variable. On feature, I get one file with all participant level variables, one with sample level variables, and another with relative abundance data that is huge. It looks like all variables are there as I'd expect. Howev

[2022-08-24 16:04] asizemore commented on #37
@SheenaTomko thank you for the thorough investigation!! The banner is a great idea. I'll make a ticket!

[2022-08-26 14:27] asizemore opened #42 "Mbio downloads: should assays have required variables?"
Came up while discussing this ticket: https://github.com/VEuPathDB/web-eda/issues/1340

Question for @dpbisme

[2022-08-26 17:10] asizemore commented on #35
Note for QA - please also check download files to make sure they're all good. We think solving this issue will also solve the odd formatting noted by @SheenaTomko in [this ticket](https://github.com/VEuPathDB/EdaLoadingIssues/issues/37)

[2022-08-26 17:12] SheenaTomko commented on #37
Moving this ticket to complete since Ann made another ticket to address the repeated measure issue

[2022-08-30 14:47] dmfalke commented on #42
Unsure what repo this should be in. Feel free to change if this is not a loading issue.

[2022-09-12 15:33] asizemore opened #43 "GEMS1 in mbio: Age group should be ordinal"
<img width="1700" alt="Screen Shot 2022-09-12 at 11 32 08 AM" src="https://user-images.githubusercontent.com/11710234/189695082-13145615-b271-4e59-b5e0-30ff5b815f1c.png">

Please make the Age group variable an ordinal variable with the bin labels in ascending order.

[2022-11-15 23:27] danicahelb opened #44 "Add linkages on ClinEpi & mbio sites for MAL-ED samples with microbiome data"
On ClinEpiDB, MAL-ED has the term `Microbiome analysis performed` (and 928 Peru samples have values of `yes`)

- we need to indicate that the 1091 samples used in Raman et al. have microbiome data associated with them (so map `Microbiome analysis performed` to `yes` for these samples)

On mbio, we use the term `ClinEpiDB sample ID` to indicate the identifier for samples on ClinEpi with microbiome

[2022-11-22 16:26] dmfalke commented on #44
Is there a good repo for this issue?